<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Error Page</title>
</head>
<body>
    <h1>Error 404</h1><br /><br />
    <p>The page you requested does not exist!</p><br />
    <p>Have a nice day.</p>
</body>
</html>