<!DOCTYPE html>
<html>
<head>
	<title>Package Price</title>
</head>
<body>
	<h1>Here is the price to mail your item.</h1><br /><br />
    <p>Item: "<%= package %>" </p><br />
    <p>Weight: "<%= weight %>"</p><br /><br />
    <p>Your total price is: "<%= price %>"</p>
</body>
</html>